body{
    text-align: justify;
    color: #171717;
}

.head{
    color:#e16162;
    border-radius: 25px;
}

.all{
    background-color: #abd1c6;
    margin: 1rem;
    padding: 0 1rem;
    border-radius: 12.5px;
}

h6{
    color:rgb(88 28 135);
}

hr{
    border:1px solid #171717;
}
